*{
    margin: 0;
    padding: 0;
}
 li{
    list-style: none;
    
}

ul{
    display: flex;
    justify-content: flex-end;
    background-color:grey;
    li{
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    } 
li{
    &:hover{
        color:red;
    }
}
li{
   padding: 15px;
}
}